.Dashboard {
  margin-top: 1rem;
  background-color: rgba(9, 9, 8, 0.619);
}

.MainDash{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.MainDash>h1{
  font-size: 20px;
  color: #fff;
}
@media screen and (max-width:1200px){
  .MainDash{
    justify-content: flex-start;
    margin-top: 2rem;
  }
}
@media screen and (max-width:768px){
  .MainDash{
    align-items: center;
  }
}