.Card{
	display: flex;
	flex-direction: column;
	background-color: #121314bd;
	padding: 10px;
	border-radius: 10px;
	border: none;
}

.Card>.icon{
	font-size: 25px;
	color: #ffffff95;
}
.Card>.icon svg{
	padding: 10px;
	border-radius: 50%;
	justify-content: center;
	display: flex;
	align-items: center;
}
.Card>p{
	color: #fff;
}
.val{
	display: flex;
	justify-content: space-between	;
	align-items: center;
}
.val>h2{
	color: #fff;
}